server:
  port: 9002
spring:
  application:
    name: nacos-payment-provider
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
#监控端点全部打开
management:
  endpoints:
    web:
      exposure:
        include: "*"
